@{
    ViewBag.Title = "Analysis of TxDOT plan";
}

<style>
    body {
        font-family: serif,sans-serif,
        'Segoe UI';
        font-size: 115%;
    }


    a.ss { font-family: sans-serif; text-decoration: none; font-weight: bold; }

    .sans-serif {font-family: sans-serif;}

    .non-numbered-heading { font-weight: bold; font-size: 1.1em; margin: 28px 0 4px 0;  font-family: sans-serif }

    .problem-heading, .comment-heading { font-weight: bold; font-size: 1.1em; margin: 28px 0 4px 0; font-family: sans-serif }
        .problem-heading:before { counter-increment: index; content: counter(index) ". "; }

    .index-list {padding-top: 10px; padding-bottom: 2px;}
    .index-list:before { counter-increment: index; content: counter(index) ". ";}

    .updateItem {padding: 6px 0 6px 0; max-width: 1000px; }

    .problem-solution { padding-top: 4px; text-decoration: underline;}
    .problem-solution span:nth-child(1) { font-weight: bold; color:dodgerblue; }
    .problem-solution span:nth-child(2) {  }
    .problem-solution img { display: inline-block; }

    h2 { font-family: sans-serif; font-weight: bold; font-size: 1.25em; padding: 12px 0 4px 0; margin: 0 0; }
    h3 { font-family: sans-serif; font-weight: bold; font-size: 1em; padding: 0 0 8px 0; margin: 0 0; }
    .textblock { max-width: 1050px; padding: 8px 0; }
        .textblock div { padding: 4px 0 2px 0; }
    ul { margin: 0px 0 8px 0; }

    img { display: block; }

    .bold { font-weight: bold; font-size: 110%; }
    .red { color: red; }

    .reset-counter { counter-reset: index; }
    .italic { font-style: italic; }
    /*a {
  text-decoration: none;
  font-weight: bold; }*/
  a:hover {
    text-decoration: underline;
    color: red; }

  .padding-bottom10 {padding-bottom: 10px;}

    .statusYes, .statusNo, .statusTBD { padding-left: 28px; margin: 8px 0; line-height: 155%; min-height: 25px;}
  /*.statusYes { background: url(../../images/plan-analysis/checkmark.png) no-repeat 0 6px; }*/
@*  .statusYes { background: url(@Url.Content("~/images/plan-analysis/tbd-14h.png")) no-repeat 0 6px; 	background-position: 10px 0px; }*@
    .status { margin-left: 20px;}
  .status img { display: inline-block; padding-left: 4px; padding-right: 4px;}
   .status::before {
    content: "Status: ";
    font-weight: bold; color:dodgerblue;
    }
    .additional {padding: 4px 0;}
    .additional img { display: inline-block; padding-left: 4px; padding-right: 6px;}


    .itemStatus {font-weight: bold; }
    .itemStatusText { margin-left: 20px; max-width: 800px; padding-bottom: 12px !important;}

    .txdot { margin: 10px 0; border: solid black thin; background-color: rgb(255, 255, 220); padding: 4px 6px 8px 14px !important; }
    .txdot >div:first-child {to
        font-size: 18px; font-weight: bold;
    }

    .checklist {display: block; padding-bottom: 8px; }
    .checklist li {padding: 4px 0;}
    .checklist div {display: inline-block; vertical-align: top; }
    .checklist > div:first-child { width: 50px;}
        .checklist > div:first-child img {
            display: inline-block;
        }
    .checklist > div:nth-child(2) {
        width: 900px;
    }

    .padding-topbottom-8 {padding: 8px 0;}


    .small-spacing li {
        padding: 8px 0;
    }
    .map { width: 100%; margin: 12px 0 0 200px; position: relative; }

    .map-annotate {
        position: absolute;
        background-color: white;
        border: thin solid black;
        font-family: sans-serif;
        padding: 6px 5px 6px 10px;
        font-size: 0.7em
    }

    .map-annotate div {padding-bottom: 4px;}

    .map-annotate-indent { text-indent: -10px; margin-left: 20px; padding: 3px 0; }

</style>


<h2>Comments on Plans for the North Houston Highway Improvement Project</h2>
<h3>Proposed Improvements to Downtown Freeways and I-45 North</h3>

<div class="textblock"> <span class="italic" style="padding-right: 20px;">Page created May 10, 2015</span>  <span class="italic bold" style="padding-right: 30px;">Updated June 22, 2019</span> </div>
@*<div class="textblock" style="max-width: 850px;"> <span class="italic bold" style="padding-right: 30px;">Updated March 19, 2016 (add comments on Purple City plan)</span> </div>*@

@*<div class="textblock">Comments and feedback to <a href="mailto:houston@oscarmail.net">Houston@oscarmail.net</a></div>*@



<div class="textblock sans-serif">
    <a class="ss" href="https://www.txdot.gov/nhhip.html">Official TxDOT Project Web Site</a>
    <span style="padding-left: 50px;">Comments and feedback: <a class="ss" href="mailto:houston@oscarmail.net">Houston@oscarmail.net</a></span>

</div>

@*<div class="textblock">
        TxDOT’s recommendation for downtown freeways and Interstate 45 North is the most influential recommendation for Houston’s freeways since the 1950s.
    TxDOT and its partners deserve credit for a bold plan to fully modernize downtown Houston freeways and enhance mobility.
    However, review of the preliminary schematics reveals numerous points of concern which could compromise the ability of the new freeway system to meet current and future needs.
    </div>*@
@*<div style="color:red; font-weight: bold; padding-bottom: 10px;">UPDATE SEPT 28, 2015: TxDOT has recently posted updated schematics on the project web site. This analysis will be updated in early October.</div>*@

@*<div class="bold">Updates resulting from July 22 and September 4, 2015, meetings with TxDOT</div>*@


<div class="updateItem">
    In May 2019 updated schematics were posted on the TxDOT project web site. These were the final schematics for the final environmental impact statement (FEIS). Changes in the May 2019 schematics were very minimal compared to the May 2018 version. Previously, changes in the May 2018 schematics were very minimal compared to the May 2017 schematics.
    @*For complete coverage of the May 2017 schematics including annotated PDF files, see the @Html.ActionLink("May 2017 analysis archive", "analysis_May_2017").*@
</div>

<div class="updateItem">
    The map below highlights my design concerns for the final schematics. As a practical matter, it may no longer be possible to make changes to the EIS schematics to correct these concerns. 
    However, all sections should be subject to review during final design, and design adjustments can be made during final design.
</div>

<div class="updateItem">
    For more details on other issues which I identified in prior versions of the schematics, see the analyses of prior versions.
    <br />
    @Html.ActionLink("May 2018", "analysis_May_2018", null, new { @class = "ss" }) &nbsp; &nbsp;  @Html.ActionLink("May 2017", "analysis_May_2017", null, new { @class = "ss" }) &nbsp; &nbsp; @Html.ActionLink("June 2016", "analysis_June_2016", null, new { @class = "ss" }) &nbsp; &nbsp; @Html.ActionLink("September 2015", "analysis_sept_2015", null, new { @class = "ss" })

</div>


<div class="map">
    <img src="@Url.Content("~/images/plan-analysis/NHHIP-map.png")" />


    <div class="map-annotate" style="top: 70px; left: 112px; width: 460px;">
        <div>Connection ramp from BW8 to southbound IH-45 and transition zone length</div>

        <div class="map-annotate-indent">There is only one lane connecting to the main lanes of IH-45. The connection needs two lanes.</div>
        <div class="map-annotate-indent">
            The transition zone for merging into the IH-45 main lanes is too short. It needs to be extended further south.
        </div>
    </div>

    <div class="map-annotate" style="top: 560px; left: 230px; width: 400px;">
        <div>The northbound IH-45 main lanes are reduced to four lanes at Parker</div>
        <div class="map-annotate-indent">The merge-down transition zone from the IH-610 interchange (six lanes) is too short.</div>

    </div>
    <div class="map-annotate" style="top: 480px; left: 170px; width: 380px;">
        <div>A fifth northbound lane needs to be added to the exit for SH 249</div>
    </div>

    <div class="map-annotate" style="top: 650px; left: -130px; width: 316px;">
        <div>The transition zone on westbound IH-610 is too short</div>
        <div class="map-annotate-indent">6 lanes are merged down to 4 in a too short distance.</div>
        <div class="map-annotate-indent">The transition zone needs to be extended, with a fifth lane to the Shepherd exit.</div>
    </div>

    <div class="map-annotate" style="top: 790px; left: 320px; width: 360px;">
        <div>The northbound entrance/exit to the managed lanes is poorly situated at the IH-610 interchange</div>
        <div class="map-annotate-indent">The entrance/exit may exacerbate congestion in this area</div>

    </div>

    <div class="map-annotate" style="top: 890px; left: 330px; width: 450px;">
        <div>The only entrance to the northbound IH-45 managed lanes is from downtown</div>
        <div class="map-annotate-indent">Traffic on northbound IH-45 cannot enter the managed lanes until the entrance at Loop 610</div>

    </div>

    <div class="map-annotate" style="top: 1110px; left: 410px; width: 450px;">
        <div>The connection from southbound IH-69 to southbound IH-45 is difficult and potentially dangerous</div>
        <div class="map-annotate-indent">It will require weaving across three lanes in a distance of 2000 feet <b>inside the tunnel</b>, where visibility is reduced and signage is more difficult to see.</div>

    </div>
    <div class="map-annotate" style="top: 1095px; left: -124px; width: 324px;">
        <div>The northbound IH-69 approach to the downtown split has only 5 lanes</div>
        <div class="map-annotate-indent">There needs to be at least 6 lanes. With only 5 lanes, the full benefit of the new main lanes east of the split will not be realized.</div>
        <div class="map-annotate-indent">However, this section of IH-69 is outside the scope of the NHHIP.</div>

    </div>

</div>


<p>&nbsp;</p>
<p>&nbsp;</p>