@{
    ViewBag.Title = "Analysis of TxDOT plan";
}

<style>
    body { 
     font-family: 'Segoe UI', sans-serif; font-size: 15px; }

    .problem-heading, .comment-heading { font-weight: bold; font-size: 1.1em; margin: 28px 0 4px 0; }
        .problem-heading:before { counter-increment: index; content: counter(index) ". "; }

    .index-list {padding-top: 10px; padding-bottom: 2px;}
    .index-list:before { counter-increment: index; content: counter(index) ". ";}

    .updateItem {padding: 6px 0 6px 0; max-width: 900px; margin-left: 16px;}

    .problem-solution span:nth-child(1) { font-weight: bold; color:dodgerblue; }
    .problem-solution span:nth-child(2) {  }
    .problem-solution img { display: inline-block; }

    h2 { font-weight: bold; font-size: 1.5em; padding: 12px 0 4px 0; margin: 0 0; }
    h3 { font-weight: bold; font-size: 1.3em; padding: 0 0 8px 0; margin: 0 0; }
    .textblock { max-width: 650px; padding: 8px 0; }
        .textblock div { padding: 4px 0 2px 0; }
    ul { margin: 0px 0 8px 0; }

    img { display: block; }

    .bold { font-weight: bold; }
    .red { color: red; }

    .reset-counter { counter-reset: index; }
    .italic { font-style: italic; }
    a {
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline;
    color: red; }


    .statusYes, .statusNo, .statusTBD { padding-left: 28px; margin: 8px 0; line-height: 155%; min-height: 25px;}
  /*.statusYes { background: url(../../images/plan-analysis/checkmark.png) no-repeat 0 6px; }*/
@*  .statusYes { background: url(@Url.Content("~/images/plan-analysis/tbd-14h.png")) no-repeat 0 6px; 	background-position: 10px 0px; }*@
    .status { margin-left: 20px;}
  .status img { display: inline-block; padding-left: 4px; padding-right: 4px;}
   .status::before {
    content: "Status: ";
    font-weight: bold; color:dodgerblue;

} 
    
    .itemStatus {font-weight: bold; }
    .itemStatusText { margin-left: 20px; max-width: 800px; padding-bottom: 12px !important;}
</style>
<a name="top"></a>

<h2>Analysis, Critique and Suggested Modification</h2>
<h3>for the Proposed Improvements to Downtown Freeways and I-45 North</h3>

<div class="textblock"> <span class="italic" style="padding-right: 30px;">Page created May 10, 2015</span> </div>
<div class="textblock" style="max-width: 850px;"> <span class="italic bold" style="padding-right: 30px;">Updated March 19, 2016 (add comments on Purple City plan)</span> </div>

<div class="textblock">Comments and feedback to <a href="mailto:houston@oscarmail.net">Houston@oscarmail.net</a></div>

<div class="textblock"><a href="http://www.ih45northandmore.com/">Official TxDOT Project Web Site</a>, Interstate 45 and Downtown</div>

@*<div class="textblock">
    TxDOT’s recommendation for downtown freeways and Interstate 45 North is the most influential recommendation for Houston’s freeways since the 1950s. 
TxDOT and its partners deserve credit for a bold plan to fully modernize downtown Houston freeways and enhance mobility.
However, review of the preliminary schematics reveals numerous points of concern which could compromise the ability of the new freeway system to meet current and future needs.
</div>*@
@*<div style="color:red; font-weight: bold; padding-bottom: 10px;">UPDATE SEPT 28, 2015: TxDOT has recently posted updated schematics on the project web site. This analysis will be updated in early October.</div>*@

@*<div class="bold">Updates resulting from July 22 and September 4, 2015, meetings with TxDOT</div>*@


<div class="updateItem">TxDOT placed new schematics on the project web site in September 2015.</div>

<div class="updateItem">The revised plan is a big improvement over the original plan. It corrects many of the problems which existed in the original plan, including my most serious concerns. <a href="#status">See status of original problem list items</a></div>
<div class="updateItem">However, there is still room for improvement in the revised plan, and TxDOT and HNTB should review the issues below.</div>

<div class="updateItem">I appreciate TxDOT's and HNTB's willingness to take a close look at each individual issue and make adjustments to the plan as warranted.</div>

<div class="updateItem">In March 2016, the blog <a href="http://purple.city">Purple City</a> posted a detailed <a href="http://purple.city/2016/03/10/a-better-plan-for-the-downtown-ring/">alternate plan</a> for the downtown freeway complex.
    Although much of the Purple City plan is inconsistent with TxDOT's approved alternative, Purple City's suggestions for IH 10 and IH 45 on the north side of downtown are consistent with TxDOT's approved plan. Purple City's ideas could be very beneficial to the plan on the north side of downtown.
    I have summarized the benefits of the Purple City plan in this <a href="@Url.Content("~/images/plan-analysis/Plan-comments-20160319.pdf")">document</a>, which also includes observations on parts of the Purple City plan which are not consistent with TxDOT's approved alternative.
</div>

<div class="updateItem">
I also prepared this <a href="@Url.Content("~/images/plan-analysis/downtown-i45-option-large.jpg")">map</a> of a potential relocation of the IH 45 main lanes to create space to bring managed lanes through downtown. This option was not formally studied, although it may have been rejected very early in the process. 
    It is almost certainly too late to consider this option, but I think this would be the only way to create  a north-south corridor of managed lanes through downtown, assuming the Pierce Elevated will be removed.
</div>

<br />


<div class="reset-counter bold"><span>Updated List of Design Concerns Based on the September 2015 Schematics</span> </div>

@*Note that some original items of concern marked with X (not fixed) are no longer included since TxDOT has reviewed these issues and determined that changes are not needed or not feasible. *@

<div class="index-list reset-counter"><a href="#610-merging">I-610 westbound, west of I-45: Merging zone is much too short</a></div>

<div class="index-list"><a href="#MaX-northbound-access">I-45 Northbound Managed Lanes (MaX Lanes): Insufficient Access from Downtown area</a></div>

<div class="index-list"><a href="#max-lanes-lack-shoulder">I-45 MaX Lanes between I-10 and I-610 lack shoulders where shoulders can be included</a></div>

<div class="index-list"><a href="#us59-access-to-i45">US 59 northbound at Midtown: Problems with access to I-45 from both the Almeda on-ramp and main lanes</a></div>

<div class="index-list"><a href="#59-midtown-access">US 59 at Midtown: removal of existing entrance/exit, possible major traffic congestion on Wheeler at Fannin and San Jacinto</a></div>

<div class="index-list"><a href="#59-527">US 59 Northbound at the Spur 527 split: potential bottleneck</a></div>

<div class="index-list"><a href="#BW8-to-i45">Beltway 8 ramp to southbound I-45 main lanes is only one lane</a></div>

<br />

<div class="bold"><span>Items For Which the Schematics are Not Entirely Clear or a Design Trade-off has Been Made </span> </div>

<div class="index-list"><a href="#i45-sb-auxiliary">I-45 southbound: Ensure sufficient auxiliary lanes from North Main to the exit to the downtown Spur</a></div>

<div class="index-list"><a href="#i45-cavalcade-onramp">I-45 southbound onramp at Cavalcade, sufficient merging zone needed</a></div>

<div class="index-list"><a href="#i10-ramp-to-spur">Ramp from I-10 westbound to downtown spur cannot exit to Allen Parkway or McKinney</a></div>

<div class="index-list"><a href="#i45-sb-i10-merge">I-45 southbound: merging zone for lanes coming from I-10 appears to be very short</a></div>


<div class="index-list"><a href="#lamar-uturn">Since Polk Street cannot cross over the freeway trench, consider a U-turn at Lamar</a></div>


<a name="610-merging"></a> 
<div class="problem-heading reset-counter">I-610 westbound, west of I-45: Merging zone is much too short</div>

<div class="textblock">
    <div>
        The merging zone in the present-day interchange is already much too short. The new design retains the short merging zone and makes the problem even worse by introducing another lane coming from I-45.
    </div>

    <div class="problem-solution">Problem</div>
    <ul>
        <li>Three westbound I-610 lanes and three lanes connecting from I-45 are merged down to four lanes in a very short distance, about 1600 feet.</li>
    </ul>

    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Add additional lanes to widen and lengthen the merging zone</li>
        <li>The transition zone with more than four westbound lanes needs to be extended west past Yale Street.</li>

    </ul>

</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/610wb-at-45-annotated.jpg")" />
    <a href="#top">Back to top</a>
</div>


<a name="MaX-northbound-access"></a>
<div class="problem-heading">I-45 Northbound Managed Lanes (MaX Lanes): Insufficient Access from Downtown area</div>

<div class="textblock">
    <div>
        This item is retained from the original problem list since it was not fixed.
    </div>
    <div class="problem-solution">Problem</div>
    <ul>
        <li>There is only <span class="bold">ONE</span> access point to the northbound managed lanes in the downtown area, from Travis Street downtown</li>
        <li>Traffic on the northbound I-45 main lanes, connecting from westbound I-10 and coming from the downtown spur cannot get on the managed lanes until well north of 610, about five miles north.</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Add access to the northbound managed lanes from the I-45 main lanes</li>
        <li>Access from the I-45 main lanes should be as far south as possible, to allow MaX Lane users to bypass congestion which may occur around North Main (north intersection)</li>
        <li>Add access to the northbound managed lanes from westbound I-10, which also provides access to traffic coming from US 59</li>
        <li>Add access to the northbound managed lanes from the downtown Spur</li>
    </ul>

    The potential solutions can be accomplished as suggested in the diagram. Note that the ramp from the I-45 northbound main lanes starts well to the south, to take advantage of the fact that the I-45 main lanes are elevated above the I-10 main lanes at that point.
    These ramps would be somewhat costly, but this is a difficult problem to solve and I don't see an obvious other way to provide the access.

    <div>The connection from the northbound downtown Spur should be easier, especially since the spur connection is super-elevated where I show the exit ramp to the MaX Lanes.</div>

    <div>The September 2015 plan also lacks a connection from the southbound MaX Lanes to the southbound downtown Spur. I feel that connection is less urgent because main lane backups are more likely in the northbound direction. </div>

</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/45-managed-lanes-access-annotated.jpg")" />
    <a href="#top">Back to top</a>
</div>

<a name="max-lanes-lack-shoulder"></a>
<div class="problem-heading">I-45 MaX Lanes between I-10 and I-610 lack shoulders where shoulders can be included</div>
<div class="textblock">
    <div>
        Due to the narrow right-of-way in this section, the lack of shoulders on the MaX Lanes is a necessary design compromise around North Main. However, the shoulders are omitted even on sections where there is space to include them.
    </div>
    <div class="problem-solution">Problem</div>
    <ul>
        <li>The section of MaX Lanes lacking shoulders is longer than necessary</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Add shoulders where there is right-of-way, or right-of-way can be acquired. This is a significant length south of I-610, and a short length north of I-10.</li>
    </ul>

</div>


<div>
    <img src="@Url.Content("~/images/plan-analysis/45-max-lanes-no-shoulder-annotated.jpg")" />

    <table>
        <tr>
            <td><div>South of I-610</div><img src="@Url.Content("~/images/plan-analysis/45-max-no-shoulders-north-annotated.jpg")" /></td>
            <td style="vertical-align: top;"><div>North of I-10</div><img src="@Url.Content("~/images/plan-analysis/45-max-no-shoulders-south-annotated.jpg")" /></td>
        </tr>
    </table>

    <a href="#top">Back to top</a>
</div>

<a name="us59-access-to-i45"></a>
<div class="problem-heading">US 59 northbound at Midtown: Problems with access to I-45 from both the Almeda on-ramp and main lanes</div>
<div class="textblock">
    <div class="problem-solution">Problem</div>
    <ul>
        <li>The onramp from Almeda Road, which serves a very large area of Midtown and the Museum District, has no access to I-45 southbound. Access to I-45 northbound is very difficult, needing to cross over five lanes in a short distance.</li>

        <li>Access from the US 59 northbound main lanes to I-45 northbound is less-than-ideal, requiring crossing over two lanes coming from SH 288</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>I'm proposing a major reconfiguration of the area just east of Almeda to solve these problems - see the third diagram below.</li>
        <li>From the northbound US 59 main lanes, I propose one exit location to both I-45 northbound and I-45 southbound at the current location of the exit to I-45 southbound.</li>
        <li>The Almeda onramp would have a split to go to I-45, and that split would have another split to send traffic to lanes which go to I-45 northbound and I-45 southbound.</li>
        <li>The ramp from the US 59 main lanes to I-45 northbound is no longer needed and is removed.</li>
        <li>With that ramp removed, the lanes connecting from SH 288 to nortbhound US 59 can now be barrier separated to prevent lane weaving to reach the Gray Street exit.</li>
    </ul>

</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/59nb-to-i45nb-weave-annotated.jpg")" />
    <br />
    <img src="@Url.Content("~/images/plan-analysis/288-to-gray-weave-annotated.jpg")" />
    <br />
    Proposed solution:
    <img src="@Url.Content("~/images/plan-analysis/59nb-i45-access-annotated.jpg")" />
    <br />
    <img src="@Url.Content("~/images/plan-analysis/59nb-ramp-to-45nb-annotated.jpg")" />
    <a href="#top">Back to top</a>
</div>


<a name="59-midtown-access"></a>
<div class="problem-heading">US 59 Midtown: removal of existing entrance/exit, possible major traffic congestion on Wheeler at Fannin and San Jacinto</div>
<div class="textblock">
    <div>
        <div>This item is retained from the original list.</div>
        <div>A large area, including the museum district, lower midtown and the area along US 59 well west of Montrose, needs freeway access. Access is already somewhat difficult, but the proposed plan will make the situation much worse, especially as the area densifies.</div>


    </div>
    <div class="problem-solution">Problem</div>
    <ul>
        <li>The southbound exit to Fannin is removed and the northbound entrance at San Jacinto is removed</li>
        <li>The new entrance and exit ramps are east of Almeda near SH 288, and access is very poor due to poor east-west mobility in this area</li>
        <li>The September 2015 schematic will send heavy traffic onto Wheeler at the intersections with Fannin and San Jacinto. This area already has traffic congestion problems, and dumping more traffic into these intersections will make a bad situation much worse.</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Extend the southbound frontage road to Wheeler to provide sufficent east-west access</li>
        <li>Consider creating a southbound frontage road bypass lane which goes under Wheeler and San Jacinto, connecting to Fannin. This will allow traffic exiting from US 59 to avoid the Wheeler/San Jacinto and Wheeler/Fannin intersections. This bypass should be easily feasible
            since it will follow the grade of the adjacent connector ramp coming from SH 288.
        </li>
        <li>Consider extending the northbound frontage road westward to San Jacinto, possibly as one lane only. This lane could be over the main lanes for a short distance to go around the Mexican Consulate.</li>
        <li>Add left turn lanes on Wheeler: eastbound to the US 59 northbound frontage road, and westbound to Fannin.</li>

    </ul>

</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/midtown-sb-exit-annotated.jpg")" />
    <a href="#top">Back to top</a>
</div>

<a name="59-527"></a>
<div class="problem-heading">US 59 Northbound approaching the Spur 527 split: potential bottleneck</div>
<div class="textblock">
    <div>This item is retained from the original problem list. The backups on inbound US 59 at the Spur 527 split during the afternoon rush hour are a serious problem. The new plan is intended to address this problem, but the full benefit will 
        probably not be achieved because only five traffic lanes will approach the split. Generally speaking, the number of lanes approaching an interchange should increase as you get closer, and this design violates that principle.
    </div>
    <div class="problem-solution">Problem</div>
    <ul>
        <li>US 59 inbound has six lanes from Shepherd to Mandel, then is reduced to five lanes for a short distance before being expanded back to six lanes.</li>
        <li>Slowed or stalled traffic on either US 59 or Spur 527 will disrupt traffic on the other lanes</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Six inbound lanes need to be maintained from Shepherd to the downtown split at Spur 527.</li>
    </ul>

</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/59-bottleneck-mandel-annoted.jpg")" />
    <a href="#top">Back to top</a>
</div>



<a name="BW8-to-i45"></a>
<div class="problem-heading">Beltway 8 ramp to southbound I-45 main lanes is only one lane</div>
<div class="textblock">
    <div>This item is retained from the original list</div>
    <div class="problem-solution">Problem</div>
    <ul>
        <li>Two lanes connect from Beltway 8 to southbound I-45, but there is only one lane from the Beltway 8 connection ramp to the I-45 main lanes</li>
        <li>The merging zone for traffic coming from Beltway 8 is fairly short, only about 2000 feet</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Bring both lanes from Beltway 8 to the I-45 main lanes</li>
        <li>Add an additional auxiliary lane in the merging zone, and extend the merging zone southward to be south of West Road</li>

    </ul>

</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/45-sb-ramp-from-bw8-annotated.jpg")" />
    <a href="#top">Back to top</a>
</div>

<br />

<div class="bold"><span style="font-size: 115%;">Items For Which the Schematics are Not Entirely Clear or a Design Trade-off has Been Made </span> </div>

<a name="i45-sb-auxiliary"></a>
<div class="problem-heading">I-45 southbound: Ensure sufficient auxiliary lanes from North Main to the exit to the downtown Spur</div>
<div class="textblock">

    <div class="problem-solution">Item of Concern</div>
    <ul>
        <li>There may not be sufficient auxilary lanes between the North Main on-ramp and the exit to the downtown spur</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Add an additional auxiliary lane as needed</li>
    </ul>
</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/45-aux-lanes-annotated.jpg")" />
    <a href="#top">Back to top</a>

</div>

<a name="i45-cavalcade-onramp"></a>
<div class="problem-heading">I-45 southbound onramp at Cavalcade, sufficient merging zone needed</div>
<div class="textblock">

    <div class="problem-solution">Possible Problem</div>
    <ul>
        <li>This ramp will have higher-than-usual truck traffic due to the truck stop on Patton Street, and this ramp needs a sufficiently long merging zone to accommodate trucks. The length of the merging zone is unclear in the schematic, and it appears to be short.</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Include a merging zone long enough to be comfortable for trucks</li>
    </ul>
</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/45-sb-onramp-cavalcade-annotated.jpg")" />
    <a href="#top">Back to top</a>

</div>

<a name="i10-ramp-to-spur"></a>
<div class="problem-heading">Ramp from I-10 westbound to downtown spur cannot exit to Allen Parkway or McKinney</div>
<div class="textblock">
    <div>
        This appears to be a design trade-off to prevent lane switching on the southbound downtown spur. However, the only other downtown access for I-10 westbound traffic is on the northeast side of downtown near the Astros stadium, so it would
        be nice for westbound I-10 traffic to have access to the west side of downtown. With this design, vehicles making this connection must go to the southwest side of downtown.
    </div>

    <div class="problem-solution">Observation</div>
    <ul>
        <li>The ramp from westbound I-10 to the southbound downtown spur is separate from the spur main lanes for a long distance, preventing vehicles on this ramp from exiting to Allen Parkway or McKinney..</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>It will be difficult to solve this problem if the intent of the plan is to prevent lane switching on the southbound downtown spur. Possibly merge the ramp from I-10 into the southbound spur as far north as possible, which could require
            the southbound spur elevation to be raised. With a merge point as far north as possible, there may be sufficient distance for needed lane-switching.
        </li>
    </ul>
</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/spur-ramp-from-i10-wb-annotated.jpg")" />
    <a href="#top">Back to top</a>

</div>


<a name="i45-sb-i10-merge"></a>
<div class="problem-heading">I-45 southbound: merging zone for lanes coming from I-10 appears to be very short</div>
<div class="textblock">
    <div>
        The connection from eastbound I-10 to southbound I-45 seems peculiar because one lane exits from I-10, but then it expands to two lanes before merging into I-45.
    </div>

    <div class="problem-solution">Possible Problem</div>
    <ul>
        <li>The merging zone for the ramp connecting I-10 eastbound to I-45 southbound appears to be very short.</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Possibly keep the ramp from I-10 only one lane</li>
    </ul>
</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/45sb-merge-in-from-i10-annotated.jpg")" />
    <a href="#top">Back to top</a>

</div>




<a name="lamar-uturn"></a>
<div class="problem-heading">Since Polk Street cannot cross over the freeway trench, consider a U-turn at Lamar</div>
<div class="textblock">

    <div class="problem-solution">Item of Concern</div>
    <ul>
        <li>Polk Street does not cross over the freeway, and there is a long distance north-to-south with no east-west through street due to the Geoege R. Brown center</li>
    </ul>
    <div class="problem-solution">Potential Solution</div>
    <ul>
        <li>Possibly add a U-turn from the northbound frontage road to the southbound frontage road to provide better traffic movement in the area</li>
    </ul>
</div>

<div>
    <img src="@Url.Content("~/images/plan-analysis/lamar-uturn-annotated.jpg")" />
    <a href="#top">Back to top</a>

</div>



<a name="status"></a>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="reset-counter bold" style="font-size: 115%; padding-bottom: 12px;"><span>Status of the Original Design Concerns Based on the May 2015 Schematics</span> </div>
<span>The September 2015 schematics included many big improvements over the original plan. This listing is shown for reference.</span>

<div>The downtown spur is the freeway section on the west side of downtown, which I previously called the downtown connector.</div>
<div class="index-list">I-45 Through Downtown: Insufficient through-capacity</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/checkmark.png")" />  The September 2015 schematic plan includes three continuous main lanes on I-45 through downtown.</div>

<div class="index-list">I-45 North of Downtown: Insufficient Lanes at North Main</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/checkmark.png")" /> The September 2015 schematic plan includes five twelve-foot-wide regular main lanes in each direction under North Main, and other significant improvements in the surrounding area.</div>

<div class="index-list">I-45 Northbound Managed Lanes (MaX Lanes): Insufficient Access from Downtown</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> Inside the loop, there is still only one access point to the northbound MaX Lanes, from Travis Street downtown.</div>

<div class="index-list">Interstate 45 Southbound Managed Lanes: No exit to the downtown spur</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> The September 2015 schematic still does not include an exit from the southbound MaX Lanes to the downtown Spur.</div>

<div class="index-list">Downtown Spur: Missing northbound access from Allen Parkway and no access to Memorial</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/checkmark.png")" /> <img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> Access from eastbound Allen Parkway is added by a loop connector in the September 2015 schematic.  Connections at Memorial will not be added.</div>


<div class="index-list">US 59 Northbound at the Spur 527 split: insufficient lanes</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> This situation still exists in the September 2015 schematic.</div>

<div class="index-list">US 59 Midtown: removal of existing entrance/exit, new access points inconvenient</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> The Septmeber 2015 includes a short extension of the southbound frontage road but the overall east-west travel problem  and freeway access difficulty remains.</div>

<div class="index-list">US 59/SH 288 Northbound exit to Interstate 45, excessive lane switching in short section</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/checkmark.png")" /> <img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> This issue no longer exists, but there are other lane-switching problems in this area. See item 4 in the new issue list.</div>


<div class="index-list">US 59 Southbound through downtown, lack of exit to Midtown</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> This exit was determined to be infeasible and will not be added.</div>

<div class="index-list">SH 288: drastically reduced access to southbound main lanes from downtown, and poor access going northbound</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/tbd-14h.png")" /> There are some minor adjustments to the access to SH 288 in the September 2015 plan. According to HNTB, the plan performs acceptably.</div>


<div class="index-list">I-10: Express lanes bottleneck, especially westbound at the west end</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> <img src="@Url.Content("~/images/plan-analysis/tbd-14h.png")" /> The September 2015 plan still has the one-lane access bottlenecks at the west end. However, there appears to be provisions for future extensions of the managed lanes.</div>

<div class="index-list">I-10 westbound: Poor and asymmetric access to downtown</div>
<div class="status"> <img src="@Url.Content("~/images/plan-analysis/checkmark.png")" /> As of the September 2015 schematic, a ramp from westbound I-10 to the southbound downtown spur is included. </div>


<div class="index-list">I-45 entire length between Loop 610 and Beltway 8: insufficient regular lane capacity</div>
<div class="status"> <img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> In the September 2015 schematic, the regular main lane capacity is not increased. However, TxDOT says that four lanes each way is adequate.</div>

<div class="index-list">I-45 northbound at Beltway 8: Major problems with the interchange transition area</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/checkmark.png")" /> The September 2015 schematic includes major improvements at this location.</div>


<div class="index-list">Beltway 8 ramp to southbound I-45 main lanes is only one lane</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> This issue remains in the September 2015 schematic. HNTB says this area performs acceptably in the traffic model.</div>

<div class="index-list">Poor connections between the I-45 managed lanes and Loop 610</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/checkmark.png")" /> In the September 2015 plan, this issue is fixed with new wishbone-style ramps to between the connection ramps to/from I-610 and the managed lanes.</div>

<br />
<div class="">Desirable Modifications</div>
<div>Retain the Polk Street crossing</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/x-16h.png")" /> The Polk Street bridge cannot be retained due to geometric requirements for bringing I-45 out of the trench.</div>

<div>Straighten curve of the downtown trench</div>
<div class="status"><img src="@Url.Content("~/images/plan-analysis/checkmark.png")" /> The curve has been straightened in the September 2015 schematic.</div>

<br />
<div class="">Other Comments and Observations</div>
<div>Comments on the removal of the Pierce Elevated</div>
<div class="status" /><img src="@Url.Content("~/images/plan-analysis/tbd-14h.png")" /> TxDOT's preference is to sell the right-of-way of the Pierce Elevated and use the funds to acquire needed right-of-way in other parts of downtown. However, the expected value of the land is low enough so that a Pierce Skypark appears to be feasible.</div>

<div>Use of arched bridges as a design theme</div>
<div class="status" /><img src="@Url.Content("~/images/plan-analysis/checkmark.png")" /> TxDOT has a goal of implementing signature bridges in cooperation with neighborhood/district organizations. This will add to the project cost and funding needs to be identified.</div>

<div>&nbsp;</div>