@{
    ViewBag.Title = "Sharpstown History Parade of Homes";
}

<div class="sharpstownCenter ">

<div class="FL SharpstownTextColumn">

<div class="SharpstownHeading">
    Sharpstown, the Original Seven Astronauts and the 1962 Parade of Homes

</div>

<p><em>I produced this article in 2012 for submission to the Sharpstown Civic Association's newsletter. But the editor said there wasn't space for it, so it wasn't printed. So here it is. Article posted online on February 22, 2013.</em></p>
<p>
    <img src="@Url.Content("~/images/desktop/sharpstown/nasa_7_astronauts_GPN-2000-000651_430.jpg")" />
    <br /> <span style="font-family: 'Segoe UI', sans-serif; font-size: 80%;">
    Front row, left to right: Walter Shirra (1923–2007), Deke Slayton (1924-1993), John Glenn (born 1921), and Scott Carpenter (1925-2013). Back row, left to right: Alan Shepherd (1923-1998), Gus Grissom (1926-1967), Gordon Cooper (1927-2004)
   </span>
</p>

<p>With the nation’s attention focused on the Space Race and the September 1961 announcement that the Manned Spaceflight Center (now the Johnson Space Center) would be located in Houston, local officials began preparations to welcome NASA and the seven original astronauts. Land developer Frank Sharp wanted to welcome the astronauts not only to Houston but also to his growing Sharpstown community, offering in late February 1962 to provide the astronauts with brand-new, fully furnished homes in Sharpstown for a steeply discounted price as a token of “friendship, gratefulness and admiration.” Of course, having astronauts in Sharpstown would be a nice status symbol and provide publicity to speed the sale of new homes. The homes, each with a total value of $45,000 to $50,000 ($345,000 to $383,000 in 2012 dollars), were to be provided to the astronauts for $10,000 each, about $77,000 in 2012 dollars. The homes were planned to be next to Sharpstown Country Club in the County Club Estates section with the cost covered by Sharp and anonymous donors in the Houston homebuilding industry. While the astronauts were very pleased with the offer, within a week NASA ruled that federal employees were prohibited from receiving such large gifts, so the astronauts were forced to decline it.</p>
<p>But Frank Sharp didn’t give up. Sharpstown was the location of the 1962 Parade of Homes to be held in the first half of July, perfect timing for the July 4 arrival of the astronauts. The Parade of Homes, an annual event launched in 1952, showcased a collection of new homes with the latest designs and interior decorations. The 1962 Sharpstown Parade of Homes featured 33 new homes on the 8800 to 9000 blocks of Rowan Street, west of Gessner between Augustine and Pella, with most priced between $22,000 and $24,000 ($168,000 to $184,000 in 2012 dollars). In late March Frank Sharp and the Houston Homebuilder’s Association made a second offer to provide each astronaut a free home on the Parade of Homes. Further review had concluded that it was in fact legal for the astronauts to receive the gifts, and the only concern about acceptance was public perception, especially after the astronauts had entered into a $500,000 agreement with <em>Life</em> Magazine for exclusive rights to stories (about $550,000 per astronaut in 2012 dollars). The <em>Houston Chronicle</em> reported that the astronauts had agreed to accept the homes, but another report stated that the White House was reviewing the situation. The <em>Life</em> agreement had already upset NASA management due to concerns about commercial exploitation of the astronauts, and the free home offer sparked a furor at NASA headquarters. Four days later on April 3 it was reported that the astronauts had officially declined the home offer. The astronauts decided it was better not to further rile NASA management and the White House since it could lead to cancellation of all deals, including the lucrative <em>Life</em> agreement.</p>
<p>Even if the astronauts had accepted the offer, it was widely believed that they never intended to actually live in Sharpstown. <em>The Right Stuff</em>, the most well-known history of the original seven astronauts by Tom Wolfe which was made into a film, states that the astronauts planned to sell the homes and pocket the money.</p>
<p>The Parade of Homes on July 1-15 was launched with a large advertising section in the newspapers. The homes on Rowan Street were the first homes in the County Club Terrace 3 section of Sharpstown, and the directions stated that the homes were “clearly visible from Bellaire Boulevard” across a then-vacant field. The main entrance to the event was on Pella Street from Bellaire and ten acres of parking were provided. Homes were open until 10 PM nightly. Numerous homebuilders were represented, providing a distinctive collection of custom homes which are a departure from the more cookie-cutter “production” homes found throughout the rest of Sharpstown. The home at 9015 Rowan, on the southeast corner at Pella, was the <EM>Life</EM> magazine “Home for Better Living.” Designed by Washington DC architect Donald Lethbridge, its theme was “outdoor living” with a design emphasizing natural light. Advertisements for other homes touted their themes, including “For Luxury Tastes” at 8807 Rowan, “Oriental Modern” at 8830, “A-Frame Polynesian” at 8834, “Monterrey Design” at 8910, “Miniature Mansion” at 8915, “Romantic Orientale” at 9006 and “Cape Cod Colonial” at 9011.</p>
<p>By fall of 1962 the original seven astronauts had settled into the Clear Lake area, with John Glenn, Scott Carpenter and Walter Shirra buying homes in the Timber Cove subdivision and Gordon Cooper building a new home in El Lago Estates. The exclusivity of the original seven astronauts was somewhat diminished when NASA announced a second group of nine new astronauts in September 1962. In the second group was Edward H. White, II, who became the first American to walk in space and died in the 1967 Apollo 1 capsule fire. Edward White Elementary on Triola Street is five blocks from the scene of the 1962 Parade of Homes. Today, developers still use the Parade of Homes to promote home exhibitions in new subdivisions around Houston, but the events are no longer held annually in a single neighborhood.</p>

<p>Oscar Slotboom was born and raised in Sharpstown and is a 1985 graduate of Sharpstown High School</p>
<p>
    <div>Sources:</div>
    <div>Houston Post 2/28/1962, 3/3/1962, 4/3/1962, 4/4/1962, 12/10/1962</div>
<div>Chronicle, 3/4/1962, 3/7/1962, 4/3/1962, 4/4/1962, 6/3/1962, 7/1/1962</div>
</p>

</div>


    <div class="FL SharpstownImageColumn">
        <img src="@Url.Content("~/images/desktop/sharpstown/Sharpstown_Rowan_map_650_annotated.png")" />
        <div>Location of the 1962 Parade of Homes, and the home where I grew up.</div>

        <img src="@Url.Content("~/images/desktop/sharpstown/rowan_pella_signs_20121027_rowan_006.jpg")" />
        <div>The house in the background was the <em>Life</em> magazine home for better living. It featured a rooftop window in the living area, a design which became common in the 1970s. (See view of home in the main announcement below.)</div>


        <img src="@Url.Content("~/images/desktop/sharpstown/9006_rowan_ad_20121025_astro_022.jpg")" />
        <div>Here is an advertisement for the "Romantic Orientale" at 9006 Rowan. It was priced at $23,800 ($183,000 in 2012 dollars).
            The property tax appraisal of the home in 2012 was $109,282. This was one of four oriental-themed homes in the Parade of Homes. I can't think of any other oriental-themed homes in 
            this section of Sharpstown, so most likely the oriental-themed properties didn't sell well. Nearly all the production homes in this section of Sharpstown, which were built from 1962 to 1972, are traditional designs with a scattering of Spanish-influenced designs. There are a few homes with similar oriental design in the west side of 
            the Country Club Estates section of Sharpstown (north of Bellaire).

        </div>

       <img src="@Url.Content("~/images/desktop/sharpstown/9006_rowan_20121027_rowan_002.jpg")" />
        <div>Here is 9006 Rowan in 2012.</div>


    </div>

<div class="CB fullWidthPhotos">&nbsp;</div>
    <div class="fullWidthPhotos">
            <img src="@Url.Content("~/images/desktop/sharpstown/Main_announcement_20121025_astro_028.jpg")" />
        <div>Here is the main newspaper announcement for the 1962 Parade of Homes, showing the <em>Life</em> magazine home for better living. Notice the text "For Modest Budgets". Sharpstown
            was a low-to-middle income community and the show featured affordable homes, in contrast to the prior two Parades of Homes in Walnut Bend and Briargrove Park, much more expensive communities north of Westheimer.
            Here are the locations of the Parade of Homes up to 1962: 1952 Edgewood (off present-day M.L. King Blvd in southeast Houston), 1953 Oak Forest, 1954 four subdivisions, 
            1955 Meyerland, 1956 Glenbrook Valley in southeast Houston, 1957 Briarmeadow, 1958 Sharpstown, 1959 Westbury, 1960 Walnut Bend and 1961 Briargrove Park.
        </div>

            <img src="@Url.Content("~/images/desktop/sharpstown/polynesian_a_frame_20121027_rowan_001.jpg")" />
        <div>The "A-Frame Polynesian" home at 8834 Rowan was the most distinctive design in the showcase. The home has been neglected in recent years and is in need of repair.</div>

        <img src="@Url.Content("~/images/desktop/sharpstown/A-fram_ad_20121025_astro_029.jpg")" />
        <div>This is the advertisement for the A-Frame Polynesian in the newpaper home section.</div>

<img src="@Url.Content("~/images/desktop/sharpstown/9010_rowan_advertisement_20121025_astro_031.jpg")" />
<div>This is the advertisement for home at 9010 Rowan, headlined "Romantic as the Orient". This large home with 2795 square feet was one of the most expensive in the Parade of Homes at $26,375 ($203,000 in 2012 dollars). The tax appraisal value for the property in 2012 is $111,694. (Note that the tax appraisal record lists the square footage at 1764 square feet.)</div>

<img src="@Url.Content("~/images/desktop/sharpstown/19620304_20121025_astro_002.jpg")" />
        <div>Here is the newspaper report of the first home offer to the astronauts, a $50,000 furnished home in the Sharpstown Country Club Estates for the price of $10,000. As the report states, it was declined.</div>

<img src="@Url.Content("~/images/desktop/sharpstown/19620603_20121024_astro_077.jpg")" />
        <div>This June 3, 1962, article in the Houston Chronicle reports on the planned Parade of Homes on Rowan Street with anticipated attendance of 200,000. Yes, that's right, 200,000 people. The Parade of Homes was a huge event and people were really excited about new homes back in those days. Typical attendance was 150,000 to 180,000, and 1962 was expected to be the biggest yet. 
            The photo shows homes nearing completion, with the A-Frame Polynesian in the foreground. Note that the event took place in the first half of July and did not start on June 17.
        </div>

</div>
</div>

<div class="CB">&nbsp;</div>
